{
  "extends": [
    "airbnb",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:optimize-regex/all",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:security/recommended"
  ],
  "plugins": [
    "import",
    "jsx-a11y",
    "optimize-regex",
    "react",
    "react-hooks",
    "security",
    "xss"
  ],
  "env": {
    "es6": true,
    "browser": true
  },
  "globals": {
    "JSX": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2021,
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": false
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": ["**/*.test.js", "**/test/**/*.js"],
        "optionalDependencies": true,
        "peerDependencies": false
      }
    ],
    "camelcase": 0,
    "class-methods-use-this": 0,
    "consistent-return": ["warn", { "treatUndefinedAsUnspecified": false }],
    "import/no-dynamic-require": 0,
    "max-classes-per-file": 0,
    "max-len": 0,
    "no-bitwise": 0,
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-restricted-syntax": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": ["error", { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_", "caughtErrors": "none" }],
    "object-curly-newline": 0,
    "optimize-regex/optimize-regex": "warn"
  },
  "settings": {
    "jsdoc": {
      "mode": "typescript"
    }
  }
}
